@import url(https://fonts.googleapis.com/css?family=Roboto);

pre code {
  word-wrap: normal;
}

span.line {
  white-space: pre;
  overflow: scroll;
}

.mc-field-group {
  margin: 2px 0 -13px 0;
  padding-bottom: 0;
}

.panel {
  box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
  border: 0;
  border-radius: 0;
}

.entry {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 0 30px;
  padding: 10px;
}

article {
  margin-bottom: 60px;
  background: white;
  padding: 25px;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
}

#blog {
  background: white;
}

.blog-entry {
  float: none;
  margin-right: auto;
  margin-left: auto;
  max-width: 760px;
}

.blog-entry ul li {
  font-family: 'Roboto Condensed', serif;
  font-size: 18px;
  color: #444;
  line-height: 2.9rem;
  padding-bottom: 4px;
}

.image-title .color-bg {
  position: relative;
  display:block;
  padding: 200px 40px;
  margin-top: 0;
  color: #fff;
  font-weight: 600;
  font-size: 55px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  height: 500px;
  background: rgba(57, 38, 113, 0.49);
  background: linear-gradient(-225deg, rgba(100, 53, 132, 0.8) 0%, rgba(72, 135, 197, 0.92) 100%);
}

.image-title .color-bg h1 {
  color: #fff;
  font-size: 55px;
  line-height: 80px;
}

.image-title .color-bg h3 {
  font-size: 40px;
  color: white;
}

.image-title a:hover {
  text-decoration: none;
}

.blog-entry .image-title h1 a {
  color: #fff;
  font-weight: 600;
  font-size: 40px;
}

.blog-entry h1.image-title {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-weight: 600;
  line-height: 40px;
}

.blog-entry h1 a {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  color: #444;
  font-weight: 600;
  line-height: 41px;
}
.blog-entry h1 {
  margin-bottom: 0;
}

.blog-entry h1,
.blog-entry h2,
.blog-entry h3,
.blog-entry h4,
.blog-entry h5 {
  color: #444;
  font-weight: 600;
  margin-top: 0px;
}

.blog-entry h2 {
  font-size: 35px;
  font-weight: 200;
  margin-top: 45px;
}

.blog-entry h3 {
  font-size: 30px;
  color: #7C7C7C;
  font-weight: 200;
}

.blog-entry p {
  font-family: 'Roboto', serif;
  font-size: 18px;
  color: #444;
  line-height: 2.9rem;
  margin: 0 0 24px;
}

.blog-entry ul {
  margin-bottom: 25px;
}

.blog-entry li {
  font-family: 'Roboto Condensed', serif;
  font-size: 18px;
  color: #444;
  /*margin: 0 0 24px;*/
}

.blog-entry figure.code {
  margin: 25px;
}

.blog-entry a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 2.9rem;
}

.blog-entry .date {
  color: #999;
  font-weight: 300;
  font-size: 16px;
  margin-left: 4px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.blog-entry .author {
  display: inline;
  font-weight: 600;
}

.rss-button {
  position: relative;
  float: right;
  right: 0px;
  top: 0px;
}

.blog-index .toplink {
  font-family: "Roboto Condensed-Light", sans-serif;
  font-size: 14px;
  line-height: auto;
  font-weight: 600;
}

.newsletter .newsletter-preamble {
  float: left;
  line-height: 38px;
  font-size: 1.7rem;
  font-weight: 600;
}

.newsletter .mktoForm {
  display: inline-block;
}

.newsletter .newsletter-form {
  width: auto;
  float: right;
}

.newsletter .sbmc {
  width: 100px;
}

.blog-title-divider {
  border-width: 4px;
  border-color: #128bee;
  margin: -5px 0 10px 0;
}

.blog-index.blog-entry {
  margin-top: 40px;
}

ul.post-list {
  font-size: 16px;
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0 20px;
  clear: both;
}
ul.post-list > li {
  border-bottom: 1px solid #ddd;
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  overflow: hidden;
}
ul.post-list > li > time {
  color: #999;
  display: inline-block;
  float: right;
  font-family: Menlo, Monaco, 'Bitstream Vera Sans Mono', 'Courier New', monospace;
  font-size: 12px;
  white-space: nowrap;
}

.download-partial {
  width: 100%;
  border-radius: 5px;
  padding: 18px;
  padding-top: 23px;
  background: #548;
  color: #fff;
  font-family: 'Roboto Condensed-Light', sans-serif;
  font-size: 24px;
  margin: 30px 0px;
}

.download-partial a {
  padding: 5px 22px;
  padding-top: 9px;
  font-family: 'Roboto Condensed-Light', sans-serif;
  color: #fff;
  position: relative;
  transition: all 0.2s;
}

.download-partial a {
  border: 2px solid #fff;
  font-size: 20px;
  border-radius: 7px;
  top: -9px;
  float: right;
}

.download-partial a:hover {
  background: #fff;
  color: #548;
  text-decoration: none;
}

.btn-purple {
  font-family: "Roboto Condensed-Light", sans-serif !important;
  border: 2px solid #548;
  font-size: 24px !important;
  color: white;
  background: #548;
  font-weight: 400;
  padding: 18px;
  padding-top: 23px;
}

.btn-purple:hover {
  color: #548;
  background: white;
  border: 2px solid #548;
}

.code pre {
  overflow-x: auto;
  width: 676px;
}

.gutter .line-numbers {
  width: 100% !important;
}

.blog-entry .author a {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
}

.full-post {
  background: white;
}

/* Override some Marketo form styles */
.newsletter-form div {
  display: inline;
}

.mktoForm {
  width: auto !important;
}

.mktoFieldWrap {
  float: none !important;
  margin-right: 5px !important;
}

.mktoField {
  background-color: #fff;
  background-image: none;
  border-radius: 4px !important;
  border: 1px solid #ccc !important;
  box-shadow: none !important;
  color: #555;
  display: block;
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857143;
  padding: 6px 12px !important;
  width: 100%;
}

.mktoButtonWrap {
  margin: 0 !important;
}

.mktoButton {
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  margin-bottom: 0;
  padding: 7px 12px 6px 12px !important;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.mktoButton:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #333;
}

.mktoAsterix,
.mktoGutter,
.mktoLabel,
.mktoOffset {
  display: none !important;
  width: 0 !important;
}

.mktoFormCol {
  margin: 0 !important;
}

.mktoClear,
.mktoFormRow {
  clear: none !important;
}
